body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 20px;
}

.search-box {
    margin-bottom: 25px;
}

input {
    padding: 10px;
    width: 260px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #1DB954;
    color: black;
    font-weight: bold;
}

.song {
    display: flex;
    gap: 15px;
    background-color: #1e1e1e;
    width: 360px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
}

.song img {
    width: 80px;
    height: 80px;
    border-radius: 6px;
}

.song-details {
    flex: 1;
}

.song-details h3 {
    margin: 0;
    font-size: 16px;
}

.song-details p {
    margin: 5px 0 10px;
    font-size: 14px;
    color: #b3b3b3;
}

audio {
    width: 100%;
}
